@media screen and (min-width: 960px) {
  mat-sidenav {
    display: none;
  }
}

mat-sidenav-container {
  margin: 0;
  width: 100%;
  height: calc(100% - 64px);
  min-width: 100%;
  min-height: calc(100% - 64px);

  mat-sidenav-content {
    background-color: #ffffff;
  }
}

mm-top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 50;
}
