html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page {
  height: 100%;
  width: 100%;
}


button {
  mat-spinner {
    float: left;
    width: 24px !important;
    height: 24px !important;
    margin: 5px 10px 0 0;

    svg {
      width: 24px !important;
      height: 24px !important;
    }
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
