@import '~@angular/material/theming';

@include mat-core();


$mm-primary: (
        50 : #e6e7f4,
        100 : #c2c4e4,
        200 : #999dd3,
        300 : #7075c1,
        400 : #5158b3,
        500 : #323aa6,
        600 : #2d349e,
        700 : #262c95,
        800 : #1f258b,
        900 : #13187b,
        A100 : #b0b3ff,
        A200 : #7d82ff,
        A400 : #4a51ff,
        A700 : #3039ff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);

$mm-accent: (
        50 : #fdf7e6,
        100 : #fbebc0,
        200 : #f8de96,
        300 : #f5d06b,
        400 : #f2c64c,
        500 : #f0bc2c,
        600 : #eeb627,
        700 : #ecad21,
        800 : #e9a51b,
        900 : #e59710,
        A100 : #ffffff,
        A200 : #fff2df,
        A400 : #ffdeac,
        A700 : #ffd492,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #000000,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$mm-warn: (
        50 : #fde9e6,
        100 : #fbc9c0,
        200 : #f8a596,
        300 : #f5816b,
        400 : #f2664c,
        500 : #f04b2c,
        600 : #ee4427,
        700 : #ec3b21,
        800 : #e9331b,
        900 : #e52310,
        A100 : #ffffff,
        A200 : #ffe1df,
        A400 : #ffb1ac,
        A700 : #ff9a92,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$mm-theme-primary: mat-palette($mm-primary, 500);
$mm-theme-accent: mat-palette($mm-accent, 500);
$mm-theme-warn: mat-palette($mm-warn, 500);

$mm-theme: mat-light-theme($mm-theme-primary, $mm-theme-accent, $mm-theme-warn);

@include angular-material-theme($mm-theme);
